
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.App{ 
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  } 
  .search-form{ 
  min-height: 10vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  } 
  .search-bar{ 
  width: 50%; 
  border:none; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 5px 10px #87b8de; 
  } 
  .search-button{ 
  background: #6c7ee3; 
  border: 5px solid white; 
  border-radius: 8px; 
  padding: 10px 20px; 
  color: white; 
  font-size: larger; 
  margin: 0 0 0 10px; 
  } 
  .search-button:hover { 
  background-color:#fa709a ; 
  } 
  .recipes{ 
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  } 
  h1{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.75), -2px -2px 4px rgba(0, 0, 0, 0.75);
    
  }
  .heading{
    
      font-size: 100px;
      text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.75), -2px -2px 4px rgba(0, 0, 0, 0.75);
      
    
  }